.cards{
    overflow: scroll;
    height: 100%;
    padding: 1rem;
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: center;
    padding-bottom: 10rem;

    .card{
        flex-grow: 1;
        flex-basis: 20rem;
        max-width: 30rem;
        padding-inline: 1rem;
        padding-block: 0.75rem;
        background-color: rgba(46, 46, 46, 0.5);
        border-radius: 0.5rem;
        color: rgb(190, 190, 190);

        display: flex;
        flex-direction: column;
        gap: 1rem;

        img{
            width: 100%;
            border-radius: 1rem;
        }
        h1{
            font-size: 1.45rem;
            font-weight: 400;
        }
        .description{
            // font-size: 1rem;
            line-height: 1.5rem;
            opacity: 0.7;
            word-spacing: 0.3rem;
            line-height: 1.3rem;
        }
        .tags{
            display: flex;
            flex-wrap: wrap;
            gap: 0.5rem;
            .tag{
                background-color: rgb(51, 51, 51);
                width: fit-content;
                padding-inline: 1.25rem;
                padding-block: 0.75rem;
                border-radius: 0.25rem;

                white-space: nowrap;
            }
        }
        .urls{
            display: flex;
            gap: 1rem;
            a{
                color: white;
            }
        }
    }
}