*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body,#root{
    height: 100%;
    width: 100%;
    font-family: 'Arial', sans-serif;
}
body{
    background-color: black;
}

main{
    height: 100%;
    width: 100%;
    background-image: url(/daniil-silantev-VqAd3Lr3Pfc-unsplash.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    overflow: hidden;
}